body {
  text-align: center;
  background-color: azure;
  margin: auto;
  max-width: 80%;
}

/* main {
	max-width: 80%;
	margin: auto;
} */

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(80, 77, 77, 0.479);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  max-width: 75%;
  justify-content: space-evenly;
}

nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
  flex: 2 0 auto;
  border-radius: 10px;
}

nav a:hover {
  background-color: rgba(80, 77, 77, 0.8);
}

#leafletmap {
  height: 500px;
  border-radius: 20px 50px;
}

.file-container {
  /* height: 400px; */
  display: grid;
  grid-template-rows: auto auto auto auto;
  /* max-width: 100%; */
  /* margin: auto; */
}

.file-container > div {
  border: 1px solid black;
  padding: 5px;
}

.upload,
.coordinate {
  grid-row: 2;
}

.upload div {
  background-color: rgba(20, 20, 20, 0.2);
  border-radius: 5px;
  width: 70%;
  height: 50%;
  margin: auto;
  margin-top: 20px;
}

.upload > input {
  /* background-color: blue; */
  border: 1px solid rgb(163, 248, 248);
  padding: 5px;
  border-radius: 5px;
  max-width: 200px;
  margin: auto;
}

.dms {
  grid-row: 2;
  grid-column: 3/4;
}

.bottom-btn {
  grid-row: 1;
  grid-column: 1/4;
}

.coordinate form {
  display: grid;
  grid-template-columns: 20% 70%;
}

.coordinate input {
  max-width: 100px;
  margin: auto;
}

/* add-point buttons ==============*/
.add-btn {
  grid-column: 1/3;
  border-radius: 100%;
  width: 60px;
  margin: auto;
  padding: 10px;
  background-color: blue;
  color: white;
  margin-top: 10px;
  font-size: 10px;
}

.add-btn:hover {
  background-color: cyan;
  color: blue;
}

.add-btn:active {
  background-color: blue;
}
/* ==========================*/

h4 {
  margin: 10px;
}

.dms input {
  max-width: 60px;
}

input[name='title'] {
  max-width: 200px;
}

.latitude div,
.longitude div {
  text-align: left;
  margin-top: 8px;
}

.example {
  display: flex;
  justify-content: space-between;
}

/* Click-point Button ============================== */

#click-point {
  border-radius: 10px;
  padding: 5px;
  color: white;
  max-width: 100px;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}
