:root {
	--base: rgba(241, 241, 213, 0.5);
	--darkBase: rgb(187, 189, 152);
	--navLight: rgba(80, 77, 77, 0.4);
	--navDark: rgba(80, 77, 77, 0.8);
	--cream: rgb(247, 247, 247);
	--lightBlue: rgb(93, 190, 247);
	--darkBlue: rgb(0, 0, 255);
	--buttonColor: rgb(86, 102, 82);
	--darkButton: rgb(9, 92, 20);
	--text: rgb(39, 38, 38);
}

@keyframes buttonHover {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
		background-color: var(--darkButton);
	}
}

@keyframes nav {
	to {
		background-color: var(--navDark);
	}
}

body {
	color: var(--text);
	text-align: center;
	background-image: url('../../images/topoImg.jpg');
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* Container for all =======================*/
.container {
	background-color: var(--base);
	max-width: 60%;
	min-height: 900px;
	margin: -100px auto 10px auto;
	padding: 100px;
	border-radius: 5px;
}

/* NAV BAR ============================*/
nav {
	color: var(--cream);
	display: flex;
	flex-wrap: wrap;
	background-color: var(--navLight);
	border-radius: 10px;
	margin: 0 auto 5px auto;
	max-width: 75%;
	justify-content: space-evenly;
}

nav a {
	color: var(--cream);
	padding: 10px;
	text-decoration: none;
	flex: 2 0 auto;
	border-radius: 10px;
	z-index: 2;
}

nav a:hover {
	animation-name: nav;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-direction: alternate;
}

/* Main Map ================= */
#leafletmap {
	height: 500px;
	width: 100%;
	z-index: 1;
	border-radius: 20px 50px;
}

/* HOMEPAGE ========================= */
/* Add points box =========== */
.gps-points-wrapper {
	padding: 20px;
	margin-top: -30px;
}
.gps-points-wrapper h4 {
	margin: 5px;
}

/* File Containger GRID =========== */
.file-container {
	display: grid;
	grid-template-rows: 5% auto auto;
	grid-template-columns: 40% auto;
}

.file-container > div {
	border: 5px solid var(--buttonColor);
	margin: 10px;
	padding: 5px;
	background-color: var(--darkBase);
	border-radius: 5px;
}

.file-container div:nth-child(4) {
	background-color: var(--base);
	border: none;
	margin-top: 2px;
}

.example {
	font-size: 12px;
	text-align: left;
	margin: 0 auto 10px auto;
	max-width: 40%;
	background-color: var(--buttonColor);
	color: var(--cream);
	border-radius: 5px;
	padding: 5px;
	min-height: 75px;
}

.coordinate {
	grid-row: 2;
}

.coordinate form {
	display: grid;
	grid-template-columns: 20% 80%;
}

.coordinate form > input,
.coordinate form > label {
	margin-top: 10px;
}

.coordinate input {
	/* max-width: 100px; */
	margin-left: 30px;
	grid-column: 2;
}

/* FILE UPLOAD ===================== */
#file-loader {
	border-radius: 5px;
	text-align: center;
	margin: 20px auto auto 20px;
	max-width: 200px;
}

.upload {
	grid-row: 3;
	grid-column: 1/3;
}

/* DMS ================= */
.dms {
	grid-row: 2;
	grid-column: 2/3;
	font-size: smaller;
}

#dms-form {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 3;
}

#dms-form input {
	margin-left: 30px;
}

#dms-form input,
#dms-form label {
	margin-top: 5px;
}

.latitude > div:first-of-type,
.longitude > div:first-of-type {
	grid-column: 1/3;
	text-align: center;
	max-width: 200px;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.dms-title {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-column: 1/3;
	grid-row: 1;
}

.latitude,
.longitude {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-column: 1/3;
}

.latitude {
	grid-row: 2;
}

.latitude label,
.longitude label {
	grid-column: 1;
}

/* Clear History Button ======== */
.bottom-btn {
	grid-row: 1;
	grid-column: 1/3;
}

#clear {
	padding: 10px;
	border-radius: 5px;
	margin-top: -10px;
	background-color: var(--buttonColor);
	color: var(--cream);
}

#clear:hover {
	cursor: pointer;
	animation-name: buttonHover;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

#clear:active {
	background-color: var(--darkBlue);
	color: var(--cream);
}

/* add-point buttons ==============*/
.add-btn {
	grid-column: 1/3;
	border-radius: 100%;
	width: 60px;
	margin: auto;
	padding: 10px;
	background-color: var(--buttonColor);
	color: var(--cream);
	margin-top: 10px;
	font-size: 10px;
	cursor: pointer;
}

.add-btn:hover {
	background-color: var(--buttonColor);
	animation: buttonHover;
	animation-duration: 0.5s;
	animation-direction: alternate;
	animation-fill-mode: both;
}

.add-btn:active {
	color: var(--cream);
}

form {
	text-align: right;
	font-size: small;
}

form input {
	margin-right: 30px;
	margin-left: 30px;
}

/* About Page ==============================================*/

.references-container {
	max-width: 60%;
	text-align: left;
	margin-left: 15%;
}

.reference-links {
	display: flex;
}

.reference-links > div {
	flex: 2 1 0;
	padding: 10px;
}

#git > svg,
#git > a {
	position: relative;
	bottom: -13px;
}

footer {
	max-width: 70%;
	margin: 15px auto 0 auto;
	border: 5px solid var(--buttonColor);
	border-radius: 5px;
	padding: 10px;
	background-color: var(--darkBase);
}

.about h4 {
	margin-top: 50px;
}

.about p {
	margin-left: 20px;
}

#leaf img {
	max-height: 60px;
}

/* HOW TO Page ======================== */
.main-how-to,
.about {
	text-align: left;
	margin: auto;
	max-width: 70%;
	height: 600px;
	background-color: var(--darkBase);
	padding: 10px;
	border: 5px solid var(--buttonColor);
	border-radius: 5px;
}

.main-how-to div,
.about div {
	margin: 50px;
	/* background-color: var(--darkBase); */
}

.main-how-to p,
.about p {
	padding-left: 20px;
}

p {
	line-height: 1.5;
}

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	transform: scale(1.5);
}
